*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6C89FF;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    gap: 500px;
    background: linear-gradient(to right, #0233FD, #00FCFE);
}

a{
    display: flex;
    color: black;
    transition: 0.4s;
    padding: 16px;
}

a:hover{
    transform: scale(1.15);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
    padding: 10px 70px;
    width: 400px;
    border: none;
    border-radius: 10px;
}

#bodyLogin{
    color: #E3F1FF;
    background: linear-gradient(to right, #0233FD, #00FCFE);
}

#bodyLogin input{
    background-color: #001159;
    color: #E3F1FF;
}

#mainLogin form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#mainLogin{
    margin: 200px;
    border: 1px solid;
    border-color: #E3F1FF;
    border-radius: 8px;
    background-color: #0125B8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#mainLogin a{
    color: #E3F1FF;
}

#headerLogin{
    justify-content: flex-start;
}

#headerLogin a{
    color: #E3F1FF;
}

#tasksPage{
    color: #E3F1FF;
    border: 1px solid;
    border-color: #E3F1FF;
    border-radius: 8px;
    background-color: #0125B8;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#tasksPage button{
    color: #E3F1FF;
    border: none;
    background-color: #001159;
    border-radius: 5px;
    transition: 0.4s;
}   

#tasksPage button:hover{
    background-color: #0233FD;
}

#mainLogin button{
    color: #E3F1FF;
    border: none;
    width: 50px;
    padding-bottom: 5px;
    background-color: #001159;
    border-radius: 5px;
    transition: 0.4s;
}

#mainLogin button:hover{
    background-color: #0233FD;
}
